$white: #fff;
$dark: #242424;
$blue: #1792d2;
$dark-blue:#143774;
$gray: rgba(51, 51, 51, 0.822);
$light-gray:#707070;
$shadow-color: rgba(56, 125, 255, 0.17);
$drop-shadow-color: rgba(56, 125, 255, 0.017);
