@media (min-width: 1281px){
    .hdl-1{
        margin-top: 4.5em;
        text-align: center;
    }
    #carousel {
        width: 60%;
        height: 70vh;
        margin: 2em auto;

        .carouselInner {
            @include bg-image();
            height: 100%;
            width: 100%;
            display: flex;
            
            .left{
                @include grid-center();
                flex: 5%;
                height: 100%;
                color: $white;
                cursor: pointer;
            }
            .center{
                flex: 90%;
                height: 100%;
            }
            .right{
                @include grid-center();
                flex: 5%;
                height: 100%;
                color: $white;
                cursor: pointer;
            }
        }
    }
}

@media (max-width: 1281px){
    #carousel{
    display: none;
    }
}