.map-cont{
    padding-top: 120px;
    .grid-center{
        @include grid-center();

        .adress{
            @include grid-center();
            
            h3 {
                @include flex-center();
            }

            .adr-li{
                @include grid-center();
                padding: 0px;
                margin: 2em;

                p{
                    margin: 0;
                    font-size: 1.2rem;
                }
            }
        }
    }
}