.footer {
    display: flex;
    flex-direction: column;
    background: $gray;
    color: $white;
    padding: 1em 2em;
    z-index: 9;
    width: 100vw;
    .row{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 1em auto;
        .col {
            display: flex;
            flex-direction: column;
           
            a {
                @include flex-center;
                color: $white;
                font-size: 1em;

                .icons {
                    padding-right: auto;
                }
            }
        }
    }
}