.bg {
  height: 100vh;
  width: 100vw;
    .bgVideo{
        object-fit: cover;
        height: 100vh;
        width: 100vw;
        top: calc(2vh + 4em);
        z-index: -2;
        position: fixed;
    }


/* @media (max-width: 736px){
  .bgVideo {
    display: none;
  }
  .bgImg {
    background-image: url(../images/home-page3.jpg);
    height: 100%;
    width: 100%;
    position: fixed;
    background-position: center;
    top: calc(2vh + 4em);
    z-index: -2;
    background-repeat: no-repeat;
  }
} */
.outer{
  height: 100vh;
  @include flex-center;

    .inner {
      @include flex-center;
      flex-direction: column;
      animation:1s ease 2s normal forwards 1 fadein;
      -webkit-animation:1s ease 2s normal forwards 1 fadein;
      opacity:0
    }
    
    .headline{
        font-family: 'Yusei Magic', sans-serif;
        text-transform: uppercase;
        font-size: calc(20px + 3vw);
        color: #fff;
    }
  }
    
@keyframes fadein{from{opacity:0}
to{opacity:1}
}

@-webkit-keyframes fadein{from{opacity:0}
to{opacity:1}
}
}