@import "./nav";
@import "./Home";
@import "./Button";
@import "./Carousel";
@import "./Card";
@import "./SignUp";
@import "./Footer";
@import "./Contact";
@import "./AboutUs";

//tutaj zaimportować również mixiny

body{ 
    margin: 0;
    padding: 0;
}

#app-id {
    display: grid;
    height: 130vh;
}

.container-main {
   //min-height: 100vh;
   height: 100%;
} 